---
const today = new Date();
---

<footer class="flex flex-row justify-between text-xs my-16">
  &copy; {today.getFullYear()} Lat Thiep
  <div class="social-links">
    <a href="/about">About</a>
    <a href="https://www.instagram.com/lxttis/">Instagram</a>
    <a href="https://github.com/lthiep">Github</a>
  </div>
</footer>
