---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="general info"
	pubDate={new Date('July 31 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
<p>
		What's up I'm Lat, currently a college student enrolled at Saint Martin's University. Studying computer science,
		currently just a novice developer.
</p>
<p>

		Some general hobbies and intrests of mine, include hiking, basketball, video games, cars, tech, and anime. I mainly intent
		to use this to track my progress as a developer and to just yap about whatever I find interesting at any given time. 
		
</p>
</Layout>
