---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Series & Books "
	description="general info"
	pubDate={new Date('July 31 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
<p>
  <strong>Last Updated October, 12th 2024</strong>
</p>

<p class="text-2xl">
  <strong>Currently Reading</strong>

  <img src ="https://www.hachettebookgroup.com/wp-content/uploads/2020/03/9781541675315-1.jpg?w=640g
"></img>

<p class="text-2xl">
  <strong>Currently Watching</strong>

  <img src="https://m.media-amazon.com/images/M/MV5BOWY4NDkyNzktNjViNy00NmMxLTliYmMtZWJkNDM4YzEzNzA4XkEyXkFqcGc@._V1_.jpg">

</p>
</p>
</Layout>