---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Currently"
	description="general info"
	pubDate={new Date('July 31 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
<p>
  <strong>Last Updated 07/31/24</strong>
</p>

<p class="text-2xl">
  <strong>Currently Reading</strong>

  <img src ="https://m.media-amazon.com/images/I/61UPuQRgNKL._AC_UF1000,1000_QL80_.jpg
"></img>

<p class="text-2xl">
  <strong>Currently Watching</strong>

  <img src="https://m.media-amazon.com/images/I/81IgJ1cGaWS._AC_UF1000,1000_QL80_.jpg">

</p>
</p>
</Layout>
